<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link href="http//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body>
    {% for flash in get_flashed_messages() %}
        <p>{{ flash }}</p>
    {% endfor %}

    {% if user.is_user() %}
        <form action="/post/edit" method="POST">
            <textarea name="content" placeholder="写点什么.."></textarea>
            <br>
            <button type="submit">发表</button>
        </form>
        <hr>
    {% endif %}

    <h1>Posts</h1>
    {% for post in posts %}
        <h4>
            {% if not post.is_delete %}
                {{ post.timestamp }}
                <br>
                <a href="/user/{{post.user.username}}">{{ post.user.username}}: </a>{{ post.content }}
                {% if user.id == post.user_id or user.is_admin() %}
                    <a href="/post/update/{{post.id}}">编辑</a>
                    <a href="/post/delete/{{post.id}}">删除</a>
                {% endif %}
                <a href="/post/{{post.id}}">{{ post.comments.count()}}条评论</a>
            {% endif %}
        </h4>
    {% endfor %}



</body>
</html>