<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <script src="http://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script id="id-template-comment" type="text/x-jquery-tmpl">
        <h4>
            ${timestamp}
            <br>
            ${username}: ${content}
            <a href="/comment/update/${id}">编辑</a>
            <button class='id-button-delete'
                    data-id='${id}'
                    >删除</button>
        </h4>
    </script>
    <script src="/static/weibo.js"></script>
    <script src="/static/login.js"></script>
    <script>
        var bindAddCommentAction = function(){
            var button = $('#id-button-submit');
            button.on('click', function(){
                editComment();
            })
        }

        var bindDeleteAction = function(){
            $(body).on('click', '.id-button-delete',  function(){

            })
        };

        $(document).ready(function(){
            bindAddCommentAction();
            bindDeleteAction();
        });
    </script>
</head>
<body>
    <h2>Post: {{ post.content }}</h2>
    <textarea id="id-textarea-comment"></textarea>
    <br>
    <button id="id-button-submit" >Submit</button>
    <hr>

    {% for comment in post.comments.all() %}
        <h4>
            {% if not comment.is_delete %}
                {{ comment.timestamp }}
                <br>
                {% if comment.previous_comment_id == 0%}
                    {{ comment.user.username }}: {{ comment.content }}
                {% else %}
                    {{ comment.user.username }} 回复 {{ comment.previous_comment().user.username }}:
                    {{ comment.content }}
                {% endif %}

                {% if user == comment.user or user.is_admin() %}
                    <a href="/comment/update/{{comment.id}}">编辑</a>
                    <button class="id-button-delete"
                            data-id="{{comment.id}}">删除</button>
                {% else %}
                    <a href="/comment/reply/{{comment.id}}">回复</a>
                {% endif %}
            {% endif %}
        </h4>
    {% endfor %}
    <div id='id-div-add' data-id='{{ post.id }}'></div>
</body>
</html>
