<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@我的</title>
</head>
<body>
        {% for post in posts %}
        <h4>
            <br>
            {{ post.timestamp }}
            <a href="/user/{{post.user.username}}">{{ post.user.username}}:</a> {{ post.content }}

            {% for comment in post.comments.all() %}

                    {% if not comment.is_delete %}
                        <br>
                        {% if comment.previous_comment_id == 0%}
                            {{ comment.user.username }}: {{ comment.content }}
                        {% else %}
                            {{ comment.user.username }} 回复 {{ comment.previous_comment().user.username }}:
                            {{ comment.content }}
                        {% endif %}
                    {% endif %}
            {% endfor %}
        </h4>
        {% endfor %}
</body>
</html>