{% extends "index.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block head %}
    <script src="/static/js/api.js"></script>
    <script>
        var insertComment = function(comment) {
            var c = comment;
            var template = `
                <div class="well">
                    <div class="media" id="id-div-add" data-id="${comment.post_id}">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="${ comment.img }" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">${comment.username}
                                <small>${ comment.timestamp }</small>
                            </h4>
                            ${comment.content}
                        </div>
                    </div>
                </div>
            `;
            $('#id-div-comments').append(template);
        };

        var addNewComment = function() {
            var form = {
                comment: $('#id-textarea-comment').val(),
                post_id: $('#id-div-comments').attr('data-id'),
            };
            log('form: ', form)
            var success = function (r) {
                log('login', r);
                if(r.success) {
                    insertComment(r.data);
                    $('#id-textarea-comment').val('')
                } else {
                    log(r.message);
                }
            };
            var error = function (err) {
                log(err);
            };
            vip.commentAdd(form, success, error);
        };

        var bindActions = function() {
            $('#id-button-comment-add').on('click', function(){
                addNewComment();
            });
        };

        var __main = function() {
            bindActions();
        };

        $(document).ready(function() {
            __main();
        });

    </script>
{% endblock %}

{% block blog_content %}

<!-- Blog Post Content Column -->
<div class="col-lg-8">
    <!-- Blog Post -->
    <!-- Title -->
    <h1>{{ post.title }}</h1>
    <hr>
    <!-- Date/Time -->
    <p><span class="glyphicon glyphicon-time"></span> {{ post.timestamp }}</p>
    <hr>
    <!-- Preview Image -->
    <img class="img-responsive" src="{{ post.img }}" alt="">
    <hr>
    <!-- Post Content -->
    <div class="well">
        <p>{{ post.content }}</p>
    </div>
    <hr>
    <!-- Blog Comments -->
    <!-- Comments Form -->
    <div class="well">
        <h4>评论：</h4>
        <form role="form">
            <div class="form-group">
                <textarea class="form-control" id="id-textarea-comment" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" id="id-button-comment-add">提交</button>
        </form>
    </div>
    <hr>
    <!-- Posted Comments -->
    <!-- Comment -->
    <div id="id-div-comments" data-id="{{post.id}}">
        {% for comment in post.comments.all() %}
        <div class="media" id="id-div-add" data-id="{{post.id}}">
            <a class="pull-left" href="#">
                <img class="media-object" src="{{ comment.img }}" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{comment.username}}
                    <small>{{ comment.timestamp }}</small>
                </h4>
                {{comment.content}}
            </div>
        </div>
        {% endfor %}
        <!-- Comment -->
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placekitten.com/80/80" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Start Bootstrap
                    <small>August 25, 2014 at 9:30 PM</small>
                </h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                <!-- Nested Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placekitten.com/80/80" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Nested Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
                <!-- End Nested Comment -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar_content %}
    <div class="col-md-4">

        <!-- Blog Search Well -->
        <div class="well">
            <h4>查找文章</h4>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="VOL.1373">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
            <!-- /.input-group -->
        </div>
        <!-- Blog Categories Well -->
        <div class="well">
            <h4>Blog Categories</h4>
            <div class="row">
                <div class="col-lg-7">
                    <ul class="list-unstyled">
                        {% for p in pagination.items %}
                            <li><a href="/post/{{p.id}}">{{ p.title }}</a></li>
                        {% endfor %}

                    </ul>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-5">
                    <ul class="list-unstyled">
                        {% for p in pagination.next().items %}
                            <li><a href="/post/{{p.id}}">{{ p.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- Side Widget Well -->
        <div class="well">
            <h4>广告位</h4>
            <p>如果你想打广告</p>
            <p>如果我想接广告</p>
            <p>请联系我~~~~~~~~~~</p>
        </div>

    </div>
{% endblock %}

