<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script src="/static/bower_components/datatables-responsive/js/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>

     <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/static/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Social Buttons CSS -->
    <link href="/static/bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/static/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.js"></script>
    <script src="/static/js/api_js/api.js"></script>
    <script src="/static/js/api_js/follow.js"></script>
    <script src="/static/js/api_js/at.js"></script>
    <script src="/static/js/api_js/user_form.js"></script>
    <script>
        // 绑定事件
        var bindActions = function() {
            // 关注
            $(document).on('click', '#id-button-follow',function() {
                var name = this.dataset.name;
                followUser(name);
            });

            // 取关
            $(document).on('click', '#id-button-unfollow', function() {
                var name = this.dataset.name;
                unfollowUser(name);
            });

            // 加载填写资料表单
            $(document).on('click', '#id-button-form-right', function() {
                var name = this.dataset.name;
                insertMsgForm(name);
            });

            // 取消填写资料表单
            $(document).on('click', '#id-button-form-left', function() {
                var name = this.dataset.name;
                deleteFormTemplate(name);
            });

            // 提交资料表单
            $(document).on('click', '#id-button-submit-form', function() {
                var name = this.dataset.name;
                log('name', name)
                submitForm(name);
            });

            // 下拉@我的
            $(document).on('click', '#id-button-down', function() {
                var name = this.dataset.name;
                insertAtPost(name)
            });

            // 上拉@我的
            $(document).on('click', '#id-button-up', function() {
                var name = this.dataset.name;
                deleteAtPost(name);
            });
        };

        $(document).ready(function() {
            bindActions();
        });
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Meng's Blog</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">大厅</a>
                    </li>
                    {% if u != none %}
                    <li><a href="/user/{{u.username}}">房间</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if u == none  %}
                    <li>
                        <a href="/login">登陆</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="/logout">注销</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

     <div class="container">
        <div class="page-wrapper">
            <div class="row">

                <br>
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="{{user.img}}" width="200" height="200" alt="">
                                </a>
                                <div class="media-body">
                                    <div class="col-md-12">
                                        <h4>{{user.username}}</h4>
                                        <p class="text-warning"><i class="glyphicon glyphicon-map-marker"></i>
                                            {% if user.address %}{{user.address}}{% else%}居住地{%endif%} | {% if user.profession %}{{user.profession}}{% else%}行业{%endif%}
                                        </p>
                                        <p class="text-danger"><i class="glyphicon glyphicon-briefcase"></i>
                                            {% if user.company %}{{user.company}}{% else%}公司{%endif%} | {% if user.position %}{{user.position}}{% else%}职位{%endif%}
                                        </p>
                                        <p class="text-info"><i class="glyphicon glyphicon-education"></i>
                                            {% if user.education %}{{user.education}}{% else%}教育{%endif%}
                                        </p>
                                        <p class="text-success"><i class="glyphicon glyphicon-tag"></i>
                                            {% if user.signature %}{{user.signature}}{% else%}个性签名{%endif%}
                                        </p>
                                        <p class="text-primary">
                                            <a href="/{{user.username}}/followees">
                                                关注了 <span class="badge" id='id-span-followee'>{{user.followed.count()-1}}</span>
                                            </a>
                                            |
                                            <a href="/{{user.username}}/followers">
                                                关注者 <span class="badge" id='id-span-follower'>{{user.follower.count()-1}}</span>
                                            </a>
                                        </p>
                                        {% if u != none %}
                                            {% if u != user %}
                                                <div id="div-button">
                                                {% if not u.is_following(user.id )%}
                                                    <button type="button" class="btn btn-primary"
                                                            id="id-button-follow" data-name="{{user.username}}">关注</button>
                                                {% else %}
                                                    <button type="button" class="btn btn-danger"
                                                            id="id-button-unfollow" data-name="{{user.username}}">取关</button>
                                                {% endif %}
                                                </div>
                                            {% else %}
                                                <div id="id-div-button-form">
                                                    <button type="button" class="btn btn-outline btn-default pull-right"
                                                        id="id-button-form-right"
                                                        data-name="{{user.username}}">填写资料<i class="glyphicon glyphicon-chevron-right"></i></button>
                                                </div>
                                            {% endif %}
                                        {% endif %}

                                    <!-- /.panel-body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> 时间栏
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
                                {% for post in posts%}
                                    {% if post.direction == 'left'%}
                                        <li>
                                            <!--<div class="timeline-badge danger"><i class="fa fa-check"></i>-->
                                            <!--</div>-->
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4 class="timeline-title">{{post.user.username}}</h4>
                                                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{post.timestamp}}</small>
                                                    </p>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>{{post.content}}</p>
                                                </div>
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="timeline-inverted">
                                            <!--<div class="timeline-badge warning"><i class="fa fa-credit-card"></i>-->
                                            <!--</div>-->
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4 class="timeline-title">{{post.user.username}}</h4>
                                                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{post.timestamp}}</small>
                                                    </p>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>{{post.content}}</p>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>


                <div id="id-div-form"></div>

                <div class="col-lg-4">
                    {% if user == u%}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            @我的
                            <div class="pull-right" id="id-div-buttonchange">
                                <button type="button" class="btn btn-xs btn-success"
                                        data-name="{{user.username}}" id="id-button-down">
                                    {{user.user_ated_num()}} 个 <i class="fa fa-caret-down"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" id="id-div-at">

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    {% endif %}

                    <div class="div-one">
                        <iframe src="http://www.simond.cc" style="zoom:50%" width="720" height="1600"></iframe>
                    </div>

                </div>
                <!--<col-lg-4>-->
            </div>
        </div>
     </div>

</body>
</html>